nohup.out
.DS_Store
.vscode/
gspread.json
.ipynb_checkpoints/
__pycache__/
*.ckpt
*.pt
*.pth
*.csv
*.log
*.zip
*.gz
*.jpg
*.jpeg
*.png
*.bin
checkpoints/
results/
legacy/
input/
/*.job.o*
*.ipynb
results/
tb_logs/
yolov5_bk/
*.npy
configs_bk.py
*.wandb
note/
src/efficientdet-pytorch
*train_each*
exec.py
memo*
up_abci.sh
